__pycache__/
*.pyc
output/
smoke_output/
smoke_output2/
.scicrawl_runs/
output_full_run/
output_precision_smoke/
output_review_smoke/
output_test_run/
scicrawl_codex_package.zip
scicrawl_codex_package/baseline_outputs/
scicrawl_codex_package/baseline_audits/
scicrawl_codex_package/optional_reference/
